/*==========================================================================
  Shame
  @see http://csswizardry.com/2013/04/shame-css/
  Thanks https://github.com/heroheman/shepherd/blob/master/sass/_shame.scss
  Because hacks happen.

  Be very specific about what each piece of code is doing, and
  how to better fix it later
  ==========================================================================*/

// Try:  $ git blame _shame.scss

// Rules:
// ---------------
//   1. If it’s a hack, it goes in _shame.scss.
//   2. Document all hacks fully:
//   3. What part of the codebase does it relate to?
//   4. Why was this needed?
//   5. How does this fix it?
//   6. How might you fix it properly, given more time?
//   7. Do not blame the developer; if they explained why they had to do it then their reasons are probably (hopefully) valid.
//   8. Try and clean _shame.scss up when you have some down time.

// Example:
// ---------------
// Nav specificity fix.

// Someone used an ID in the header code (`#header a{}`) which trumps the
// nav selectors (`.site-nav a{}`). Use !important to override it until I
// have time to refactor the header stuff.

// .site-nav a { color:#BADA55!important; }


// .btn{
//// POSITION - BOXMODEL
//
//   display: block;
//   height: 60px;
//   width: 60px;
//   position: relative;
//   bottom: 0;
//   top: 0;
//   right: 0;
//   left: 0;
//   float: ;
//   margin: 10px;
//   padding: 10px;
//   vertical-align: ;
//
//// BACKGROUND
//
//   background: red;
//   background-image: cover;
//
//// BORDER - BOXSHADOW
//
//   border: 1px solid red;
//   border-radius: 5px;
//   box-shadow:;
//
//// ANIMATION
//
//   transition: 1s all
//
//// TEXT - FONT
//
//   font-family: Arial;
//   font-size: 16px;
//   font-weight: bold;
//   color: red;
// }
.casestudy{
  font-size: 0;
}
.casestudy__description, .casestudy__title{
  float: none;
  display: inline-block;
}
.redirection__h2 {
  display: none;
}

.casestudy__illu{
  width: 50%;
  margin: 50px 25%;
  height: 280px;
  &--workshops{
    background: url('assets/images/Services/workshops_i.jpg') no-repeat center center;
    background-size: cover;
  }
  &--motion{
    background: url('assets/images/Services/motion_b.png') no-repeat center center;
    background-size: cover;
  }
  &--performances{
    background: url('assets/images/Services/performances_i.jpg') no-repeat center center;
    background-size: cover;
  }
  &--custom{
    background: url('assets/images/Services/custom_i.png') no-repeat center center;
    background-size: cover;
  }
  &--interactive{
    background: url('assets/images/Services/interactive_i.png') no-repeat center center;
    background-size: cover;
  }
  &--choir{
    background: url('assets/images/Services/choir_i.png') no-repeat center center;
    background-size: cover;
  }
}

.header{
  &--workshops{
    background: url('assets/images/Services/workshops_b.jpg') no-repeat center center;
    background-size: cover;
  }
  &--motion{
    background: url('assets/images/Services/motion_i.jpg') no-repeat center center;
    background-size: cover;
  }
  &--performances{
    background: url('assets/images/Services/performances_b.png') no-repeat center center;
    background-size: cover;
  }
  &--custom{
    background: url('assets/images/Services/custom_b.png') no-repeat center center;
    background-size: cover;
  }
  &--InteractivePrint{
    background: url('assets/images/Services/interactive_b.png') no-repeat center center;
    background-size: cover;
  }
  &--choir{
    background: url('assets/images/Services/choir_b.png') no-repeat center center;
    background-size: cover;
  } 
}


.about__person{
  .left{
    @media (min-width: $lg){
      float: left;
    }
  }
  .right{
    @media (min-width: $lg){
      float: right;
    }
  }
}
