$mont: 'Montserrat', sans-serif;
$chat: 'Chathura', sans-serif;


h1{
  font-family: $chat;
  font-weight: 800!important;
  font-size: 200px;
  color: #FFF;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: $chat;
  font-size: 75px;
}

p{
  margin: 0;
  font-family: $chat;
  font-size: 40px;
}
