$mont: 'Montserrat', sans-serif;
$chat: 'Chathura', sans-serif;


h1{
  font-family: $chat;
  font-weight: 800!important;
  font-size: 200px;
  color: #FFF;
  margin: 0;
}

h2 {
  color: #FFF;
  font-family: $chat;
  font-size: 75px;
  line-height: 50px;
}

h3 {
  font-family: $chat;
  font-size: 20px;
}

p{
  margin: 0;
  font-family: $chat;
  font-size: 40px;
  font-weight: 800;
  color: #FFF;
}

small {
  font-size: 8px;
  text-transform: uppercase;
  color: #FFF;
  letter-spacing: 6px;
}
