#handsketch {
  header{
    background: url('assets/images/home.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    .content{
      @extend .centerxy;
      text-align: center;
      color: #FFF;
    }
    h1{
      margin-top: 0;
      margin: 0;
      letter-spacing: 40px;
    }
    .btn{
      margin-top: 50px;
      border-radius: 4px;
    }
  }

  .presentation{
    text-align: center;
    position: relative;
    background: url('assets/images/fond.jpg') no-repeat center center;
    background-size: cover;
    h2{
      margin-top: 0;
      color: #FFF;
      font-family: $chat;
      font-size: 75px;
      padding-top: 50px;
    }
    .intro{
      position: relative;
      display: inline-block;
      width: auto;
      p{
        position: absolute;
        top: 175px;
        right: 20%;
        max-width: 600px;
        font-family: $chat;
        font-size: 35px;
        color: #FFF;
        font-weight: 800px;
      }
    }
    .front_1{
      max-width: 45%;
      margin-right: 25%;
      margin-top: 100px;
    }
    .front_2{
      max-width: 15%;
      position: absolute;

    }
    .back_1{
      display: none;
    }
    .back_2{
      display: none;
    }
  }

}
