#handsketch {
  .background{
    background: url('assets/images/fond.jpg') no-repeat center center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 0;
  }
  header{
    background: url('assets/images/home.png') no-repeat center center;
    background-size: cover;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    .content{
      @extend .centerxy;
      text-align: center;
      color: #FFF;
      width: 90%;
    }
    h1{
      margin-top: 0;
      margin: 0;
      font-size: 80px;
      letter-spacing: 10px;
      @media (min-width: $xl) {
        letter-spacing: 40px;
        font-size: 200px;
      }
    }
    p {
      line-height: 28px;
      font-size: 30px;
      @media (min-width: $xl) {
        max-width: 600px;
        margin: 0 auto;
      }
    }
    .btn{
      margin-top: 50px;
      border-radius: 4px;
    }
  }
  .presentation{
    text-align: center;
    position: relative;
    margin-top: 100vh;
    z-index: 9;
    h2{
      margin-top: 0;
      color: #FFF;
      font-family: $chat;
      font-size: 75px;
      padding-top: 150px;
    }
    .btn{
      margin-top: 60px;
      border-radius: 4px;
    }
    //---- INTRO BLOCK ----//
    .intro{
      height: 195vh;
      width: 100%;
      position: relative;
      display: inline-block;
      p.first-p{
        font-size: 30px;
        color: #FFF;
        width: 90%;
        z-index: 99;
        @extend .centerx;
        @media (min-width: $xl) {
          position: absolute;
          top: 300px;
          left: 70%;
          text-align: left;
          max-width: 500px;
          line-height: 26px;
          font-family: $chat;
          font-size: 30px;
          font-weight: 800px;
        }

        }
      .verticaltext_right {
        transform: rotate(90deg);
        width: 450px;
        position: absolute;
        right: 0;
        top: 60%;
        opacity: .6;
        font-size: 12px;
      }
    }

    .front_1 {
      margin-top: 50px;
      max-width: 80%;
      z-index: 2;
      position: absolute;
      @media (min-width: $lg) {
      max-width: 50%;
      left: 25%;
      margin-top: 250px;
      }
    }

    .front_2{
      z-index: 1;
      max-width: 80%;
      position: absolute;
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
      @media (min-width: $lg) {
      max-width: 15%;
      top: 70px;
      left: 75%;
      }
    }

    .front_3 {
      z-index: 3;
      margin-top: 50px;
      max-width: 80%;
      position: absolute;
      left: 5%;
      bottom: 0;
      @media (min-width: $lg) {
      max-width: 30%;
      -webkit-filter: blur(2px);
      -moz-filter: blur(2px);
      -o-filter: blur(2px);
      -ms-filter: blur(2px);
      filter: blur(2px);
      }
    }

    .infos{
      padding-bottom: 100px;
      display: block;
      p{
        font-size: 30px;
        color: #FFF;
        width: 100%;
      }
    }

    //---- DEMONSTRATION BLOCK ----//
    .demonstration {
      width: 100%;
      position: relative;
      padding-bottom: 50px;
      overflow: hidden;
      .verticaltext_left {
        transform: rotate(-90deg);
        width: 450px;
        display: block;
        position: absolute;
        background-color: red;
        right: 800px;
        top: 180px;
        opacity: .6;
      }
      img {
        margin-top: 20px;
        width: 80%;
        margin-right: 20%;
        &:nth-child(odd) {
          margin-left: 20%;
          right: 0;
        }
        @media (min-width: $lg) {
          width: 60%;
          margin-right: 40%;
          &:nth-child(odd) {
            margin-left: 40%;
          }
        }
      }
    }
    //---- BANNERWHITE BLOCK ----//
    .bannerwhite {
      width: 100%;
      padding-bottom: 70px;
      padding-top: 50px;
      background-color: #FFF;
      position: relative;
      &:before {
        content: "";
        display: block;
        width: 40px;
        height: 200px;
        z-index: 100;
        background-color: red;
        position: absolute;
        top: -120px;
        left: 20px;
        background: url(assets/images/Pencil.png) no-repeat center;
        background-size: 100%;
        @media (min-width: $sm) {
          width: 60px;
          height: 300px;
          top: -200px;
        }
      }
      @media (min-width: $lg) {
        width: 90%;
        max-width: 900px;
        height: 220px;
      }
      h2 {
        text-transform: uppercase;
        color: $aubergine;
        margin-bottom: 20px;
        span {
          font-weight: 300;
          display: block;
        }
        @media (min-width: $lg) {
          width: 80%;
          margin: 0 auto;
          padding: 0;
          text-align: left;
          font-size: 50px;
          span {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
      p {
        line-height: 28px;
        font-size: 30px;
        width: 90%;
        margin: 0px auto;
        margin-bottom: 40px;
        bottom: 30px;
        color: $aubergine;
        @media (min-width: $lg) {
          max-width: 500px;
          text-align: left;
          margin-left: 100px;
          margin-top: 10px;
        }
      }
      .store {
        width: 115px;
        height: 50px;
        margin: 0 auto;
        a {
          width: 50px;
          height: 100%;
          float: left;
          &:last-child {
            margin-left: 15px;
          }
          img {
            width: 100%;
            border-radius: 10px;
          }
        }
        @media (min-width: $lg) {
          margin: 0;
          float: right;
          position: relative;
          bottom: 130px;
          right: 80px;
        }
      }
      h3 {
        text-transform: uppercase;
        color: $aubergine;
        letter-spacing: 4px;
        @media (min-width: $lg) {
          float: right;
          position: relative;
          bottom: 80px;
          left: 85px;
          margin: 10px 0;
          padding: 0;
        }
      }
    }
  }
  footer {
    width: 100%;
    position: relative;
    padding: 50px 0;
    @media (min-width: $md) {
      padding: 0;
      height: 60px;
      margin-top: 100px;
    }
    h3 {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 800;
      letter-spacing: 6px;
      color: #FFF;
      width: 100%;
      margin-top: 59px;
      @media (min-width: $md) {
        float: left;
        width: 25%;
        margin: 0;
        height: 100%;
        padding: 20px 0;
        margin-top: 0;
        font-size: 20px;
      }
    }
    p{
      font-weight: 300;
      font-size: 26px;
      margin-top: 0px;
      @media (min-width: $md) {
        font-size: 17px;
        width: 50%;
        height: 100%;
        padding: 16px 0;
        float: left;
        font-size: 25px;
      }
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      color: #FFF;
      display: block;
      margin-top: 10px;
      letter-spacing: 2px;
      transition: all .3s ease-out;
      &:hover, &:active {
        text-decoration: line-through;
        color: #FFF;
      }
      @media (min-width: $md) {
        float: left;
        width: 20%;
        padding: 21px 0;
        margin-top: 0;
        font-size: 15px;
      }
    }
    img {
      width: 50px;
      border-radius: 10px;
      margin: 0 auto;
      top: 40px;
      position: relative;
      margin-bottom: 50px;
      @media (min-width: $md) {
        width: 2%;
        background-color: yellow;
        margin-bottom: 0;
        float: right;
        margin-right: 3%;
        top: 0;
        margin-bottom: 0;
        margin-top: 18px;
        border-radius: 4px;
      }
    }
  }
}
