.casestudy{
  padding: 0 30px;
  text-align: center;
  @extend .container;
  margin-bottom: 100px;
  &__title{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 10px;
    text-align: left;
    font-family: $mont;

    @media (min-width: $md){
      @include span(6);
      margin-top: 50px;
    }
    @media (min-width: $lg){
      font-size: 50px;
      letter-spacing: 15px;
    }
  }
  &__description{
    color: $lightblue;
    text-align: left;
    @media (min-width: $md){
      @include span(6)
      margin-top: 75px;
    }
  }
  &__questions__title{
    text-align: center;
  }
  &__questions__p{
    color: $lightblue;
    text-align: center;

    @media(min-width: $lg){
      @include span(6)
      @include push(3)
      @include post(3)
    }
  }
  &__cta {
    background-color: $aubergine;
    box-shadow: 1px 1px 15px 0 rgba(25,25,25,.75);
    color: #FFF;
    margin-top: 40px;
    width: 200px;
    transition: all .3s ease-out;
    &:hover  {
      background-color: $lightblue;
    }
  }
}
