
// .nav--show {
//   opacity: 1;
// }

// tu peux renommer le nom de tes sections si jamais :)
.section__products{
  position: relative;
  top: 100%;
  background-color: #FFF;
}

.wrapper{
  background: url('assets/images/Background/fond.jpg') no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
}
