$hover: .5s;
h5{
  color: $lightblue;
  @include span(6);
  @include post(3);
  @include push(3);
  font-family: $cardo;
  text-align: center;
  font-size: 18px;
  margin-bottom: 150px;
  margin-top: 0;
}
.products{
  @extend .container;
  padding: 30px;
  h2{
    color: #FFF;
  }
}
.products__group{
  z-index: 1;
  margin: 0;
  padding: 0!important;
  @include span(12);
  position: relative;
  &__el{
    text-align: center;
    padding: 0;
    list-style-type: none;
    @media (min-width: $lg){
      margin: 150px 0;
      &:first-child{
        margin: 50px 0;
      }
    }
    .left{
      @media (min-width: $lg){
        @include span(6);
        position: relative;
        float: left;
      }
    }
    .right{
      @media (min-width: $lg){
        @include span(6);
        position: relative;
        float: right;
        .products__group__el__titlelink{
          left: 0;
        }
      }
    }
    a{
      text-decoration: none;
    }
    &__title{

      color: $yellow;
      font-family: $mont;
      text-transform: uppercase;
      font-size: 40px;
      font-weight: 700;
      text-align: left;
    }
    &__titlelink{
      @media (min-width: $lg){
        position: absolute;
        top: 0;
        text-align: left;
      }
    }
    &__imghover{
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 9;
    }
    &__img{
      position: relative;
      max-width: 260px;
      height: 260px;
      margin: 0 auto;

      &.reset{
        transform: translateX(0) translateY(0)!important;
      }
      @media (min-width: $lg){
        height: 600px;
        max-width: 450px;
      }
      &--handsketch{
        background: url('assets/images/Products/Handsketch.png') no-repeat center center;
        background-size: 105%;
        transition: all $hover ease-out;
      }
      &--drawing{
        background: url('assets/images/Products/DrawingSound.png') no-repeat center center;
        background-size: 105%;
        transition: all $hover ease-out;
      }
      &--choir{
        background: url('assets/images/Products/ChoirMob.png') no-repeat center center;
        background-size: 105%;
        transition: all $hover ease-out;
      }
      &--wall{
        background: url('assets/images/Products/interactivewall.png') no-repeat center center;
        background-size: 105%;
        transition: all $hover ease-out;
      }
    }
    &__p{
      color: #FFF;
      margin: 25px 0 0;
      @media (min-width: $lg){
        transform: translateY(250px);
      }
    }
    &__cta{
      position: relative;
      display: inline-block;
      margin-bottom: 25px;
      display: block;

      color: #FFF;
      font-family: $mont;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 700;


      &:before{
        content: "";
        display: block;
        top: 0;
        margin: 25px auto;
        height: 1px;
        width: 20px;
        background: red;
      }
    }
  }
}


.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
